<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree Details</title>
</head>
<body>
    <h2>{{ tree.tree.name }}</h2>
    <p>Scientific Name: {{ tree.tree.scientific_name }}</p>
    <p>Age: {{ tree.age }}</p>
    <p>Planted at: {{ tree.planted_at }}</p>
    <p>User: {{ tree.user }}</p>
    <p>Account: {{ tree.account.name }}</p>
    <p>Latitude: {{ tree.latitude }}</p>
    <p>Longitude: {{ tree.longitude }}</p>
</body>
</html>
